<?xml version="1.0" encoding="UTF-8"?>
<!-- This web.xml file is not required when using Servlet 3.0 container,
     see implementation details http://jersey.java.net/nonav/documentation/latest/jax-rs.html -->
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
  <servlet>
    <servlet-name>Jersey Web Application</servlet-name>
    <servlet-class>org.glassfish.jersey.servlet.ServletContainer</servlet-class>
    <init-param>
      <param-name>jersey.config.server.provider.packages</param-name>
      <param-value>com.java.serv</param-value>
    </init-param>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>Jersey Web Application</servlet-name>
    <url-pattern>/webapi/*</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>HelloServlet</display-name>
    <servlet-name>HelloServlet</servlet-name>
    <servlet-class>com.java.serv.HelloServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>HelloServlet</servlet-name>
    <url-pattern>/HelloServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DemoServlet</display-name>
    <servlet-name>DemoServlet</servlet-name>
    <servlet-class>com.java.serv.DemoServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DemoServlet</servlet-name>
    <url-pattern>/DemoServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CalcServlet</display-name>
    <servlet-name>CalcServlet</servlet-name>
    <servlet-class>com.java.serv.CalcServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CalcServlet</servlet-name>
    <url-pattern>/CalcServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PopularityServlet</display-name>
    <servlet-name>PopularityServlet</servlet-name>
    <servlet-class>com.java.serv.PopularityServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PopularityServlet</servlet-name>
    <url-pattern>/PopularityServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ShowInitParams</display-name>
    <servlet-name>ShowInitParams</servlet-name>
    <servlet-class>com.java.serv.ShowInitParams</servlet-class>
    <init-param>
      <description></description>
      <param-name>company</param-name>
      <param-value>Mphasis</param-value>
    </init-param>
    <init-param>
      <description></description>
      <param-name>trainer</param-name>
      <param-value>Prasanna</param-value>
    </init-param>
  </servlet>
  <servlet-mapping>
    <servlet-name>ShowInitParams</servlet-name>
    <url-pattern>/ShowInitParams</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LoginServlet</display-name>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>com.java.serv.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/LoginServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CounterServlet</display-name>
    <servlet-name>CounterServlet</servlet-name>
    <servlet-class>com.java.serv.CounterServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CounterServlet</servlet-name>
    <url-pattern>/CounterServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ShowParameters</display-name>
    <servlet-name>ShowParameters</servlet-name>
    <servlet-class>com.java.serv.ShowParameters</servlet-class>
    <init-param>
      <description></description>
      <param-name>company</param-name>
      <param-value>Mphasis</param-value>
    </init-param>
    <init-param>
      <description></description>
      <param-name>trainer</param-name>
      <param-value>Prasanna</param-value>
    </init-param>
  </servlet>
  <servlet-mapping>
    <servlet-name>ShowParameters</servlet-name>
    <url-pattern>/ShowParameters</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EmployShowServlet</display-name>
    <servlet-name>EmployShowServlet</servlet-name>
    <servlet-class>com.java.serv.EmployShowServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EmployShowServlet</servlet-name>
    <url-pattern>/EmployShowServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddCookie</display-name>
    <servlet-name>AddCookie</servlet-name>
    <servlet-class>com.java.serv.AddCookie</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddCookie</servlet-name>
    <url-pattern>/AddCookie</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ShowCookie</display-name>
    <servlet-name>ShowCookie</servlet-name>
    <servlet-class>com.java.serv.ShowCookie</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ShowCookie</servlet-name>
    <url-pattern>/ShowCookie</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>QueryStringServlet</display-name>
    <servlet-name>QueryStringServlet</servlet-name>
    <servlet-class>com.java.serv.QueryStringServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>QueryStringServlet</servlet-name>
    <url-pattern>/QueryStringServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AuthServlet</display-name>
    <servlet-name>AuthServlet</servlet-name>
    <servlet-class>com.java.serv.AuthServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AuthServlet</servlet-name>
    <url-pattern>/AuthServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ResultServlet</display-name>
    <servlet-name>ResultServlet</servlet-name>
    <servlet-class>com.java.serv.ResultServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ResultServlet</servlet-name>
    <url-pattern>/ResultServlet</url-pattern>
  </servlet-mapping>
</web-app>