<?xml version="1.0" encoding="UTF-8"?>
<Context>

    <!-- Default monitored resources -->
    <WatchedResource>WEB-INF/web.xml</WatchedResource>
    <WatchedResource>${catalina.base}/conf/web.xml</WatchedResource>

    <!-- REQUIRED for container-managed security -->
    <Resource auth="Container" description="User database" factory="org.apache.catalina.users.MemoryUserDatabaseFactory" name="UserDatabase" pathname="conf/tomcat-users.xml" type="org.apache.catalina.UserDatabase"/>

</Context>